Repository The-Art-of-Hacking/h4cker, pull requests merged in 2025-04, with the labels that each got.

#286 Create README.md
  ai_research/ai_algorithmic_red_teaming/README.md
Labels: enhancement, new resource

#290 Create README.md
  wireless_resources/labs/README.md
Labels: new resource

#292 Updating who-and-what-to-follow
  who-and-what-to-follow/README.md
Labels: enhancement, new resource

#295 Add Agentic Radar to LLM-framworks
  ai_research/LLM-frameworks/README.md
Labels: new resource

#296 Create docker-compose.yml
  build_your_own_lab/websploit/docker-compose.yml
Labels: websploit_labs_related

#297 Update docker-compose.yml
  build_your_own_lab/websploit/docker-compose.yml
Labels: websploit_labs_related

#298 Delete build_your_own_lab/websploit/.ipynb_checkpoints/websploit-chec…
  build_your_own_lab/websploit/.ipynb_checkpoints/websploit-checkpoint.ipynb
Labels: websploit_labs_related

#299 Update Vagrantfile
  build_your_own_lab/websploit/Vagrantfile
Labels: websploit_labs_related

#300 Delete build_your_own_lab/websploit/websploit.ipynb
  build_your_own_lab/websploit/websploit.ipynb
Labels: websploit_labs_related

#301 Create README.md
  build_your_own_lab/websploit/README.md
Labels: websploit_labs_related
